* {
	margin: 0;
	padding: 0;
}	

body {
	font-family: Tahoma;
	color: white;
	background-image: url('../image/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper {
	display: block;
	max-width:900px;
	margin: 0 auto;
	padding: 55px 70px 30px; 
}

/*HEADER*/


.hero {
	display: inline-block;
	height: 152px; 
	width: 265px;
	background: url('../image/palm.png') 100% 100% no-repeat,
	url('../image/logo.png') 50% 78% no-repeat;
	margin-left: 15px;

}

.hero p {
	text-align: center;
	margin-top: 130px;
	font-size: 12px;
}

.contact {
	width: 120px;
	display: inline-block;
	margin-left: 445px;
	margin-bottom: 15px;
	font-size: 10px;
}


/*CONTENT_CONTRIES*/

.row_1,
.row_2 {
	display: block;
}

.row_1 { margin-top: 15px; }

.row_2 { margin-top: 42px; }


.india,
.nepal,
.tibet,
.bhutan,
.sri-lanka,
.maldives {
	display: inline-block;
	width: 270px;
	margin: 9px;
}

.countries p {
	text-align: center;
	font-size: 15px;
	color: white;
}

.countries a { text-decoration: none; }

.countries img { border: 3px solid #b2b2b2; }


/*FOOTER*/

.footer {
	text-align: center;
	margin-top: 140px;
	font-size: 10px; 
}

